{% extends 'base.html' %}


{% block title %}
Queue
{% endblock %}

{% block metas %}
<meta http-equiv="refresh" content="5">
{% endblock %}

{% block pageName %}
Queue
{% endblock %}

{% block jumbotron %}
    {% include 'closed.html' %}
    {% if not closed %}
        <div class="text-center form-group d-flex p-2 justify-content-center">
            <a href="{{ url_for('onlineSignin') }}" class="btn btn-color-1">Online Sign Up</a>
        </div>
        <div class="row text-center text-lg-left">
            <div class="col-12 col-lg-6">
                <table class="table table-borderless">
                    <th class="h2 ">STUDENTS</th>
                        <tr>
                            <td class="display-1 font-weight-bold">
                                {{ queueLength }}
                            </td>
                        </tr>
                </table>
            </div>
            <div class="col-12 col-lg-6">
                <table class="table table-borderless">
                    <th class="h2">TEACHERS</th>
                    {% if teachers|length == 0 %}
                        <tr>
                            <td class="h3">
                                None
                            </td>
                        </tr>
                    {% else %}
                        {% for teacher in teachers %}
                        <tr>
                            <td class="h3">
                                {{ teacher.subject }} ( x{{ teacher.available }} )
                            </td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}