{% extends 'base.html' %}


{% block title %}
Sign In
{% endblock %}

{% block metas %}
<meta http-equiv="refresh" content="5">
<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/inactivityRefresh.js') }}"></script>
-->
{% endblock %}

{% block pageName %}
Queue Sign In
{% endblock %}

{% block jumbotron %}
    {% include 'closed.html' %}
    {% if not closed %}
        <div class="text-center form-group d-flex p-2 justify-content-center">
            <form action="" method="post" class="text-center">
                {{ form.hidden_tag() }}
                <p>
                    <h2>{{ form.studentID.label }}</h2><br>
                        {{ form.studentID(size=12, class_="form-control") }}<br>
                        {% for error in form.studentID.errors %}
                        <span class="text-danger">{{ error }}</span><br>
                        {% endfor %}
                </p>
                <p>Please Scan your Student ID card.</p>
                <p>If you do not have your card, please see a tutorials teacher.</p>
            </form>
        </div>
    {% endif %}
{% endblock %}